@model IEnumerable<Silownia.Models.DbModels.Gym>

@{
    ViewBag.Title = "ViewAll";
}

<h2>ViewAll</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GymName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adress)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GymName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adress)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GymId }) |
            @Html.ActionLink("Details", "Details", new { id=item.GymId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GymId })
        </td>
    </tr>
}

</table>
