@model IEnumerable<Silownia.Models.DbModels.Schedule>


@{
    ViewBag.Title = "Grafik";
}

<h2 style="color:deeppink">Grafik</h2><br />

<p>
    <!--Html.ActionLink("Create New", "Create")-->
</p>
<table class="table">
    <tr>
      

        <th>
            Rodzaj zajęć
        </th>
        <th>
            Trener
        </th>
        <th>
            Czas rozpoczęcia
        </th>
        <th>
            Czas zakończenia
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    
    <th>
        @Html.DisplayFor(modelItem => item.Class.ClassType)
    </th>
    <td>
        @Html.DisplayFor(modelItem => item.Class.Coach)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DateStart)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DateFinish)
    </td>
    <td>
        <!--Html.ActionLink("Edit", "Edit", new { id = item.ScheduleId }) |-->
        <!--Html.ActionLink("Details", "Details", new { id = item.ScheduleId }) |-->
           <!-- Html.ActionLink("Delete", "Delete", new { id = item.ScheduleId }) |-->
        <button class="btn btn-primary mx-2" style="background-color: lightskyblue; color: white">
        @Html.ActionLink("Zapisz się!", "Register", new { id = item.ScheduleId })</button>
</td>
    </tr>
        }

    </table>
