@model Silownia.Models.DbModels.Class

@{
    ViewBag.Title = "Sczegóły";
}

<h3 style="color:deeppink">Szczegóły</h3>

<div>

    <hr />
    <dl class="dl-horizontal">
      

       

        <dt>
            Rodzaj zajęć
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassType)
        </dd>

        <dt>
            Trener
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coach)
        </dd>

        <dt>
            Cena
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            Czas trwania
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

    </dl>
</div>
<p>

    @Html.ActionLink("Wróć", "Index")
</p>
